body {background-color: lightyellow;color: black;font-family: Arial, Helvetica, sans-serif;}
@media print and (max-width: 980px) {body {background-color: white;}}
@media all and (max-width: 980px) {
									body {-webkit-filter: grayscale(100%); background-color: white;}
									h1 {-webkit-filter: grayscale(100%);}
									ul {-webkit-filter: grayscale(100%);}
									li {-webkit-filter: grayscale(100%);}
									div {-webkit-filter: grayscale(100%);}
									p {-webkit-filter: grayscale(100%);}
								}


h1 {color: darkred;text-align: center;font-family: Arial, Helvetica, sans-serif;}

.navbar {display:flex;position: relative;background-color: peachpuff;}
.navbar li {color: darkred;text-align: center; padding: 10px 20px;}
.navbar li:hover {color: red;padding: 10px 20px;background-color: papayawhip;border: 1px solid darkred;}
.navbar li:hover .dropdown-content {display: block;}


.dropdown-button {background-color: peachpuff;color: darkred;padding: 10px 20px}
.dropdown {position: relative;display: inline-block;}
.dropdown-content {display: none;position: absolute;background-color: peachpuff;min-width: 130px;box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1.0);}
.dropdown-content a {color: darkred; padding: 10px 20px;text-decoration: none; display: block;}
.dropdown-content a:hover {background-color: papayawhip;color: red;border: 1px solid darkred;}
.dropdown:hover .dropdown-content {display: block;}


.greentext {color: green;}
.notgreentext {color: black;}
ul {position: relative;top: 0em;left: 0em;right: 0em}
div {border: 1px solid rosybrown; margin-bottom: 15px;}
a:link {color:blue;}
a:hover {color:red;}
a:active {color:purple;}